<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="lab7"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.lab7">
        <activity
            android:name="com.example.lab7.OrderPage"></activity>
        <activity
            android:name="com.example.lab7.ResultPage"></activity>
        <activity
            android:name="com.example.lab7.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>