/* body css for whole page */
body {
  margin: 0px;
  background-color: #bdf181;
  background-image: url(image/a.jpg);
  width: 100%;
  color: #c1e988;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  width: 600px;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 100px;
  background-color: #000000;
  opacity: 0.8;
  /*border-top: 3px double #f1f1f1;
  border-bottom: 3px double #f1f1f1;*/
  padding-top: 20px;
}

#main table {
  font-family: "Comic Sans MS", cursive;
}
/* css code for textbox */
#main .tb {
  height: 28px;
  width: 230px;
  border: 1px solid #f26724;
  color: #fd7838;
  font-weight: bold;
  border-left: 5px solid #f7f7f7;
  opacity: 0.9;
}

#main .tb:focus {
  height: 28px;
  border: 1px solid #f26724;
  outline: none;
  border-left: 5px solid #f7f7f7;
}

/* css code for button*/
#main .btn {
  width: 150px;
  height: 32px;
  outline: none;
  color: #f7f7f7;
  font-weight: bold;
  border: 0px solid #f26724;
  text-shadow: 0px 0.5px 0.5px #fff;
  border-radius: 2px;
  font-weight: 600;
  color: #f26724;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #f1f1f1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#main .btn:hover {
  background-color: #f26724;
  outline: none;
  border-radius: 2px;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
